body {
  text-align: center;
  background-color: #202020;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: sans-serif;
  text-shadow: 0.25rem 0 #1904da;
  margin-top: 0.9375rem;
  margin-bottom: 1.25;
}

h2 {
  font-size: 2.5rem;
  color: #919ea3;
  font-family: sans-serif;
  text-shadow: 0.125rem 0 #1904da;
  margin-block: 0;
}

h3 {
  font-size: 1.25rem;
  color: #b3bec2;
  font-family: sans-serif;
  text-shadow: 0.125rem 0 #0e0280;
  text-align: left;
  margin: 0.9375rem 0 0 3.5rem;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.game_left {
  display: table-cell;
  position: relative;
  left: 0%;
  width: 45%;
  height: 80%;
}

.game_right {
  display: table-cell;
  margin-top: 0;
  left: 45%;
  width: 45%;
  height: 80%;
}

.top_part {
  margin: 0;
}

.word_len {
  margin: 0 0 0 0;
}

.segPushed:hover {
  color: #cfcfac;
  background-color: #000070;
	background: linear-gradient(#000000,#000080);
}

/* "Glass" style button style found here. */
/* https://simplestepscode.com/css-glass-button-tutorial/ */

.segPushed:after {
	content: '';
	position: absolute;
	top: 0.125rem;
	left: 0.125rem;
	width: calc(100% - 0.25rem);
	height: 50%;
  /* background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2)); */
  background: linear-gradient(rgba(240,240,240,0.3), rgba(240,240,240,0.01));
}

.segPushed {
  color: #b0b0b0;
  background-color: #000070;
  width: 4.375rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
  margin-top: 0.3125rem;
  margin-left: 0.03125rem;
  margin-right: 0.03125rem;
  margin-bottom: 1.5625rem;
  background-image: linear-gradient(#1b1b83, #050550);
}

.segNotPushed:hover {
  color: #cfcfac;
  background-color: #000070;
	background: linear-gradient(#000000,#000080);
}

.segNotPushed:after {
	content: '';
	position: absolute;
	top: 0.125rem;
	left: 0.125rem;
	width: calc(100% - 0.25rem);
	height: 50%;
  background: linear-gradient(rgba(240,240,240,0.3), rgba(240,240,240,0.01));
}

.segNotPushed {
  color: #000000;
  background-color: #a0a0a0;
  width: 4.375rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
  margin-top: 0.3125rem;
  margin-left: 0.03125rem;
  margin-right: 0.03125rem;
  margin-bottom: 1.5625;
  background-image: linear-gradient(#1a1a1d, #c8c8d6);
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0.1875rem 0.25rem 0 #DBEDF3;
  opacity: 0.5;
}

.started {
  color: #04a111 !important;
  background-color: #000070 !important;
	background: linear-gradient(#0b0b94,#000014) !important;
}

.ctrl:hover {
  color: #cfcfac;
  background-color: #000070;
	background: linear-gradient(#1111f3,#020270);
}

.ctrl:after {
	content: '';
	position: absolute;
	top: 0.125rem;
	left: 0.125rem;
	width: calc(100% - 0.25rem);
	height: 50%;
  background: linear-gradient(rgba(240,240,240,0.5), rgba(240,240,240,0.05));
}

.ctrl {
  outline: none;
  border: 0.125rem solid #404B69;
  font-size: 2.15rem;
  font-family: sans-serif;
  line-height: 0;
  font-weight: 600;
  color: 0;
  border-radius: 0.3125rem;
  box-shadow: 0rem 0.0625rem 0.25rem -0.125rem #333;
  text-shadow: 0rem -0.0625rem #333;
  display: inline-block;
  position: relative;
/*  width: 18.75rem; */
  width: 32%;
  height: 6.25rem;
  text-align: center;
  margin: 0 8 20 8;
  padding: 0.9375rem 1.5625rem;
  background-color: #020270;
  background-image: linear-gradient(#020270, #1111f3);
}

.check:hover {
  color: #cfcfac;
  background-color: #000070;
	background: linear-gradient(#1111f3,#020270);
}

.check:after {
	content: '';
	position: absolute;
	top: 0.125rem;
	left: 0.125rem;
	width: calc(100% - 0.25rem);
	height: 50%;
  background: linear-gradient(rgba(240,240,240,0.5), rgba(240,240,240,0.05));
}

.check {
  outline: none;
  border: 0.125rem solid #404B69;
  font-size: 2rem;
  font-family: sans-serif;
  line-height: 0;
  font-weight: 700;
  color: 0;
  border-radius: 0.3125rem;
  box-shadow: 0rem 0.0625rem 0.25rem -0.125rem #333;
  text-shadow: 0rem -0.0625rem #333;
  display: inline-block;
  position: relative;
  width: 36.25rem;
  height: 3.125rem;
  text-align: center;
  margin: 25 10 20 10;
  background-color: #020270;
  background-image: linear-gradient(#020270, #1111f3);
}

.sq_hilite {
  border-color: #00f7ff !important;
}

.sq_green {
  color: #e2e28f !important;
  background-color: #007000 !important;
	background-image: linear-gradient(#000000, #02dd02) !important;
}

.sq_yellow {
  color: #e2e28f !important;
  background-color: #d8d800 !important;
	background-image: linear-gradient(#000000,#f6f607) !important;
}


.sq:hover {
  color: #cfcfac;
  background-color: #000070;
	background: linear-gradient(#000000,#000080);
}

.sq:after {
	content: '';
	position: absolute;
	top: 0.125rem;
	left: 0.125rem;
	width: calc(100% - 0.25rem);
	height: 50%;
  background: linear-gradient(rgba(240,240,240,0.3), rgba(240,240,240,0.01));
}

.sq {
  outline: none;
  border: 0.1875rem solid #404B69;
  font-size: 2rem;
  font-family: sans-serif;
  line-height: 0;
  font-weight: 400;
  color: #f0e006;
  text-shadow: 0.1875rem 0 #32383a;
  border-radius: 0.3125rem;
  display: inline-block;
  position: relative;
  width: 4.375rem;
  height: 4.375rem;
  text-align: center;
  padding: 0;
  margin: 0.25rem;
  background-color: #101010;
  background-image: linear-gradient(#000080, #000000);
}

.key_red {
  color: #770d0d !important;
  background-color: #520119 !important;
	background-image: linear-gradient(#000000, #520119) !important;
}

.key_green {
  color: #e2e28f !important;
  background-color: #007000 !important;
	background-image: linear-gradient(#000000, #02dd02) !important;
}

.key_yellow {
  color: #e2e28f !important;
  background-color: #d8d800 !important;
	background-image: linear-gradient(#000000,#f6f607) !important;
}

.key:hover {
  color: #f5e619;
  background-color: #000070;
  background-image: linear-gradient(#000000, #0000e0);
}

.key:after {
	content: '';
	position: absolute;
	top: 0.125rem;
	left: 0.125rem;
	width: calc(100% - 0.25rem);
	height: 50%;
  background: linear-gradient(rgba(240,240,240,0.3), rgba(240,240,240,0.01));
}

.key {
  outline: none;
  border: 0.125rem solid #404B69;
  font-size: 1.5rem;
  font-family: sans-serif;
  line-height: 2;
  font-weight: 500;
  color: #a0a0a0;
  border-radius: 0.3125rem;
  display: inline-block;
  position: relative;
  width: 3.125rem;
  height: 3.125rem;
  text-align: center;
  padding: 0;
  margin: 0.125rem;
  background-color: #a0a0a0;
  background-image: linear-gradient(#000080, #000000);
}

.hint:hover {
  color: #cfcfac;
  background-color: #000070;
	background: linear-gradient(#1111f3,#020270);
}

.hint:after {
	content: '';
	position: absolute;
	top: 0.125rem;
	left: 0.125rem;
	width: calc(100% - 0.25rem);
	height: 50%;
  background: linear-gradient(rgba(240,240,240,0.5), rgba(240,240,240,0.05));
}

.hint {
  outline: none;
  border: 0.25rem solid #404B69;
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 0;
  font-weight: 400;
  color: 0;
  border-radius: 0.3125rem;
  box-shadow: 0rem 0.0625rem 0.25rem -0.125rem #333;
  text-shadow: 0rem -0.0625rem #333;
  display: inline-block;
  position: relative;
  width: 24.875rem;
  height: 3.125rem;
  text-align: left;
  margin: 15 10 5 10;
  background-color: #020270;
  background-image: linear-gradient(#020270, #1111f3);
}

.back {
  width: 5rem;
}

.footer {
  margin-top: 3.125rem;
}